@model IEnumerable<Students.MVC.ViewModels.AssessmentViewModel>
@using System.Linq;
@{
    ViewData["Title"] = "Оценки";
    Layout = "_Layout";
}
<body>
    <table class="purpleHorizonAssessments">
        <thead>
            <tr>
                <th>
                    ФИО
                </th>
                @foreach (var mark in Model.GroupBy(l => l.Lesson.Id).Select(y => y.First()))
                {
                    <th>
                        <div align="left" style="width:30px; text-align:left;">
                            <ul align="left" style="width:inherit; text-align:inherit" id="nav">
                                <li align="left" style="width: inherit; text-align: inherit; right: 15px; left:0px;">
                                    <a style="width:inherit; font-size: 15px" href="#"> @mark.Lesson.NumberLesson</a>
                                    <ul>
                                        <li>
                                            <a class="nav-link text-white" asp-controller="Lessons" asp-action="Details" asp-route-id="@mark.LessonId" asp-route-Url="@Context.Request.Path">@mark.Lesson.Name</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.GroupBy(l => l.Student.Id).Select(y => y.First()))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.GetFullName)
                    </td>
                    @foreach (var mark in Model.Where(m => m.StudentId == item.Student.Id))
                    {
                        <td style="text-align: center; padding-top: 15px">
                                <a style="font-size: 25px;color:white;text-decoration: none" asp-controller="Assessments" asp-action="Edit" 
                                   asp-route-idAssessment="@mark.Id" 
                                   asp-route-Url="@Context.Request.Path?GroupId=@mark.Student.GroupId"
                                   asp-data>@mark.Score</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</body>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
