@model Students.MVC.ViewModels.ManagerViewModel
@{
    ViewData["Title"] = "Подробнее";
    Layout = "_Layout";
}
<body style="color: #FFFFFF">
    <img width="150" height="150" src="@Model.URLImagePhoto" alt="нет изображения" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
    </dl>
    <div>
        <a class="btn btn-primary"
           asp-action="Edit" asp-route-id="@Model.Id" asp-route-Url="@Context.Request.Path">Редактировать</a>
        <a class="btn btn-primary"
           asp-action="Index">Назад</a>
    </div>
    <table class="purpleHorizon">
        <thead>
            <tr>
                <th>
                    Курс
                </th>
                <th>
                    Номер группы
                </th>
                <th>
                    Статус группы
                </th>
                <th>
                    Преподователь группы
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Groups)
            {
                <tr>
                    <td>
                        @item.Course.Name
                    </td>
                    <td>
                        @item.NumberGroup
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupStatus)
                    </td>
                    <td>
                        @item.Teacher.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
 