@model Students.MVC.ViewModels.DetaliStudentViewModel
@using Students.DAL.Enum;
@{
    ViewData["Title"] = "Подробнее";
    Layout = "_Layout";
}
<div style="color: #FFFFFF ">
    <img width="150" height="150" src="@Model.URLImagePhoto" alt="нет изображения" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary"
       asp-action="Edit" asp-route-id="@Model.Id" asp-route-Url="@Context.Request.Path">Редактировать</a>
    <a class="btn btn-primary" asp-action="Security" asp-controller="Security" asp-route-id="@Model.UserId" asp-route-Url="@Context.Request.Path">Безопасность</a>
</div>
<table class="purpleHorizon">
    <thead>
        <tr>
            <th>
                Номер заяки
            </th>
            <th>
                Курс
            </th>
            <th>
                Статус заявки
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CourseApplications)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                   @item.Course.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationStatus)
                </td>
                <td>
                    @if (item.ApplicationStatus == EnumApplicationStatus.Open)
                    {
                        <form method="post" asp-controller="CourseApplications" asp-action="CancelApplication">
                            <div>
                                <button class="btn btn-primary"
                                        asp-controller="CourseApplications" asp-action="CancelApplication" asp-route-courseApplicationId="@item.Id">
                                    Отменить
                                </button>
                            </div>  
                        </form>
                    }
                    @if (item.ApplicationStatus == EnumApplicationStatus.Cancelled)
                    {
                        <form method="post" asp-controller="CourseApplications" asp-action="Open">
                            <div>
                                <button class="btn btn-primary"
                                        asp-controller="CourseApplications" asp-action="Open" asp-route-courseApplicationId="@item.Id">
                                    Обновить заявку
                                </button>
                            </div>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<table class="purpleHorizon">
    <thead>
        <tr>
            <th>
                Курс
            </th>
            <th>
                Занятия
            </th>
            <th>
                Оценка
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Assessments)
        {
            <tr>
                <td>
                    @item.Lesson.Course.Name
                </td>
                <td>
                    <a asp-controller="Lessons" asp-action="Details" asp-route-id="@item.LessonId" asp-route-Url="@Context.Request.Path">@item.Lesson.NumberLesson @item.Lesson.Name</a>
                </td>
                <td>
                    @item.Score
                </td>
            </tr>
        }
    </tbody>
</table>