@using Students.MVC.Helpers
@model IEnumerable<Students.MVC.ViewModels.StudentViewModel>
@using System.Linq;
@using Students.DAL.Enum;

@{
    ViewData["Title"] = "Страница студентов";
    Layout = "_Layout";
}

<body>
    @{
        int skip = 0;
        if (Model.Count() > 0)
            skip = Model.Max(s => s.Id);
        int take = Model.Count();
    }
    <form method="post" asp-controller="Students">
        <p>
            <select name="serachParameter"
                    class="form-control"
                    asp-items="Html.GetEnumSelectList<EnumSearchParametersStudent>()">
            </select>
            <input type="text" name="searchString" size="40" value="@ViewData["searchString"]" />
            <input type="hidden" name="take" value="10" />
            <input class="btn btn-info" style=" background: -moz-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: -webkit-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: linear-gradient(to bottom, #5a518e 0%, #392e77 66%, #231768 100%)"
                   type="submit" value="Поиск" />
        </p>
    </form>
    <form method="post" asp-controller="Students">
        <p>
            <input type="hidden" name="action" value="@EnumPageActions.add" />
            <input type="hidden" name="take" value="@take" />
            <input type="hidden" name="searchString" value="@ViewData["searchString"]" />
            <input type="hidden" name="serachParameter" value="@ViewData["serachParameter"]" />
            <input class="btn btn-info" style=" background: -moz-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: -webkit-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: linear-gradient(to bottom, #5a518e 0%, #392e77 66%, #231768 100%)"
                   type="submit" value="ещё" />
        </p>
    </form>
    <table class="purpleHorizon" id="Table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortRecords="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ФИО</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortRecords="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Дата рождения</a>
                </th>
                <th>
                    Номер группы
                </th>
                <th>
                    Курс
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GetFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Group.NumberGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Group.Course.Name)
                    </td>
                    <td>
                        <a class="btn btn-info" style=" background: -moz-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: -webkit-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: linear-gradient(to bottom, #5a518e 0%, #392e77 66%, #231768 100%)"
                           asp-action="Edit" asp-route-id="@item.Id">Редактирование</a>
                        <a class="btn btn-info" style=" background: -moz-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: -webkit-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: linear-gradient(to bottom, #5a518e 0%, #392e77 66%, #231768 100%)"
                           asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                        <a class="btn btn-success" style=" background: -moz-linear-gradient(top, #529d48 0%, #2f8923 66%, #187C0B 100%); background: -webkit-linear-gradient(top, #529d48 0%, #2f8923 66%, #187C0B 100%); background: linear-gradient(to bottom, #529d48 0%, #2f8923 66%, #187C0B 100%); border-bottom: 3px solid #432796"
                           asp-action="Security" asp-controller="Security" asp-route-id="@item.UserId">Безопасность</a>
                        <form method="post" asp-controller="Students" asp-action="Delete">
                            <button class="btn btn-danger" style=" background: -moz-linear-gradient(top, #c94949 0%, #be2525 66%, #B70D0D 100%); background: -webkit-linear-gradient(top, #c94949 0%, #be2525 66%, #B70D0D 100%); background: linear-gradient(to bottom, #c94949 0%, #be2525 66%, #B70D0D 100%)"
                                    asp-controller="Students" asp-action="Delete" asp-route-StudentId="@item.Id">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
            <tr>

                <td>
                    <a class="btn btn-info" style=" background: -moz-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: -webkit-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: linear-gradient(to bottom, #5a518e 0%, #392e77 66%, #231768 100%)"
                       asp-action="Create">Регистрация студента</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="container">
        <form method="post" asp-controller="Students">
            <p>
                <input type="hidden" name="action" value="@EnumPageActions.back" />
                <input type="hidden" name="skip" value="@skip" />
                <input type="hidden" name="take" value="10" />
                <input class="btn btn-info" style=" background: -moz-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: -webkit-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: linear-gradient(to bottom, #5a518e 0%, #392e77 66%, #231768 100%)"
                       type="submit" value="Предыдущие" />
            </p>
        </form>
        <form method="post" asp-controller="Students">
            <p>
                <input type="hidden" name="action" value="@EnumPageActions.next" />
                <input type="hidden" name="skip" value="@skip" />
                <input type="hidden" name="take" value="10" />
                <input class="btn btn-info" style=" background: -moz-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: -webkit-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: linear-gradient(to bottom, #5a518e 0%, #392e77 66%, #231768 100%)"
                       type="submit" value="Следущие" />
            </p>
        </form>
    </div>
</body>

