@model Students.DAL.Models.CourseApplication

@{
    ViewData["Title"] = "Подробнее";
    Layout = "_Layout";
}
<body  style="color: #FFFFFF">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationStatus)
        </dd>
        <dt class="col-sm-2">
            ы
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Id)
        </dd>
    </dl>
    <div>
        <a class="btn btn-primary"
           asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a class="btn btn-primary"
           asp-action="Index">Назад</a>
    </div>
</body>