@model Students.MVC.Models.PaginationModel<Students.MVC.ViewModels.CourseApplicationViewModel>
@using Students.DAL.Enum;

@{
    ViewData["Title"] = "Заявки";
    Layout = "_Layout";
}
<body>
    <form method="post" asp-controller="CourseApplications">
        <p>
            <select name="searchParameter" class="form-control">
                @foreach (var item in Html.GetEnumSelectList<EnumParametersCourseApplication>())
                 {
                    @if (item.Value == Model.SearchParameter.ToString())
                    {
                        <option selected="selected" value="@item.Value" name="searchParameter">@item.Text</option>
                    }
                    else
                    {
                    <option value="@item.Value" name="searchParameter">@item.Text</option>
                    }
                 }
            </select>
            <input type="text" name="searchString" size="40" value="@Model.SearchString" />
            <input class="btn btn-primary"
                   type="submit" value="Поиск" />
        </p>
    </form>
    <table class="purpleHorizon">
        <thead>
            <tr>
                <th>
                    Номер заяки
                </th>
                <th>
                    Курс
                </th>
                <th>
                    ФИО
                </th>
                <th>
                    Статус заявки
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        <a  asp-controller="Course" asp-action="Details" asp-route-id="@item.CourseId">@item.Course.Name</a>
                    </td>
                    <td>
                        <a asp-controller="Students" asp-action="Details" asp-route-id="@item.StudentId">@item.Student.GetFullName</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationStatus)
                    </td>
                    <td>
                        <div>
                            @if (item.ApplicationStatus == EnumApplicationStatus.Close)
                            {
                                <form method="post" asp-controller="CourseApplications" asp-action="Cancel">
                                    <div>
                                        <button class="btn btn-primary"
                                            asp-controller="CourseApplications" asp-action="Cancel" asp-route-courseApplicationId="@item.Id">
                                            Отменить
                                        </button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-controller="CourseApplications" asp-action="Enroll">
                                    <div>
                                        <button class="btn btn-primary"
                                            asp-controller="CourseApplications" asp-action="Enroll" asp-route-courseApplicationId="@item.Id">
                                            Принять
                                        </button>
                                    </div>
                                </form>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="content_detail__pagination cdp" actpage="@Model.PageNumber">
        <a href="#!-1" class="cdp_i" style="visibility:hidden">prev</a>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a href="/CourseApplications?searchString=@Model.SearchString&searchParameter=@Model.SearchParameter&page=@i" class="cdp_i" onclick="jQueryAjaxGet('@Url.Action("Index", "Students", null, Context.Request.Scheme)', '@i')">@i</a>
        }
        <a href="#!+1" class="cdp_i" style="visibility:hidden">next</a>
    </div>
</body>
