@model IEnumerable<Students.MVC.ViewModels.CourseApplicationViewModel>
@using Students.DAL.Enum;

@{
    ViewData["Title"] = "Заявки";
    Layout = "_Layout";
}
<body>
    @{
        int skip = 0;
        if (Model.Count() > 0)
            skip = Model.Max(s => s.Id);
        int take = Model.Count();
    }
    <form method="post" asp-controller="CourseApplications">
        <p>
            <select name="serachParameter" class="form-control">
                @foreach (var item in Html.GetEnumSelectList<EnumParametersCourseApplication>())
                {
                    @if (item.Value == @ViewData["serachParameter"].ToString())
                    {
                        <option selected="selected" value="@item.Value" name="serachParameter">@item.Text</option>
                    }
                    <option value="@item.Value" name="serachParameter">@item.Text</option>
                }
            </select>
            <input type="text" name="searchString" size="40" value="@ViewData["searchString"]" />
            <input type="hidden" name="take" value="10" />
            <input class="btn btn-primary"
                   type="submit" value="Поиск" />
        </p>
    </form>
    <form method="post" asp-controller="CourseApplications">
        <p>
            <input type="hidden" name="action" value="@EnumPageActions.Add" />
            <input type="hidden" name="take" value="@take" />
            <input type="hidden" name="searchString" value="@ViewData["searchString"]" />
            <input type="hidden" name="serachParameter" value="@ViewData["serachParameter"]" />
            <input class="btn btn-primary"
                   type="submit" value="ещё" />
        </p>
    </form>
    <table class="purpleHorizon">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationStatus)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.GetFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationStatus)
                    </td>
                    <td>
                        <div>
                            <a class="btn btn-primary"
                               asp-controller="Students" asp-action="Details" asp-route-id="@item.StudentId">Студент</a>
                            <a class="btn btn-primary"
                               asp-controller="Course" asp-action="Details" asp-route-id="@item.CourseId">Курс</a>
                            @if (item.ApplicationStatus == EnumApplicationStatus.Close)
                            {
                                <form method="post" asp-controller="CourseApplications" asp-action="Cancel">
                                    <div>
                                        <button class="btn btn-primary"
                                                asp-action="Cancel" asp-route-courseApplicationId="@item.Id">
                                            Отменить
                                        </button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-controller="CourseApplications" asp-action="Enroll">
                                    <div>
                                        <button class="btn btn-primary"
                                                asp-action="Enroll" asp-route-courseApplicationId="@item.Id">
                                            Принять
                                        </button>
                                    </div>
                                </form>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="container">
        <form method="post" asp-controller="CourseApplications">
            <p>
                <input type="hidden" name="action" value="@EnumPageActions.Back" />
                <input type="hidden" name="skip" value="@skip" />
                <input type="hidden" name="take" value="10" />
                <input class="btn btn-primary"
                       type="submit" value="Предыдущие" />
            </p>
        </form>
        <form method="post" asp-controller="CourseApplications">
            <p>
                <input type="hidden" name="action" value="@EnumPageActions.Next" />
                <input type="hidden" name="skip" value="@skip" />
                <input type="hidden" name="take" value="10" />
                <input class="btn btn-primary"
                       type="submit" value="Следущие" />
            </p>
        </form>
    </div>
</body>
