@using Students.MVC.Helpers;
@model List<Students.MVC.ViewModels.TeacherViewModel>
@{
    ViewData["Title"] = "Страница преподавателей";
    Layout = "_Layout";
}
<body>
    <form asp-controller="Students" asp-action="Index">
        <p>
            <input type="text" name="SearchString" size="40" />
            <input class="btn btn-info" style=" background: -moz-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: -webkit-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: linear-gradient(to bottom, #5a518e 0%, #392e77 66%, #231768 100%)"
                   type="submit" value="Поиск" />
        </p>
    </form>
    <table class="purpleHorizon">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortRecords="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ФИО</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GetFullName)
                    </td>
                    <td>
                        <a class="btn btn-info" style=" background: -moz-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: -webkit-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: linear-gradient(to bottom, #5a518e 0%, #392e77 66%, #231768 100%)"
                           asp-action="Edit" asp-route-id="@item.Id">Редактирование</a>
                        <a class="btn btn-info" style=" background: -moz-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: -webkit-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: linear-gradient(to bottom, #5a518e 0%, #392e77 66%, #231768 100%)"
                           asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                        <a class="btn btn-success" style=" background: -moz-linear-gradient(top, #529d48 0%, #2f8923 66%, #187C0B 100%); background: -webkit-linear-gradient(top, #529d48 0%, #2f8923 66%, #187C0B 100%); background: linear-gradient(to bottom, #529d48 0%, #2f8923 66%, #187C0B 100%); border-bottom: 3px solid #432796"
                           asp-action="Security" asp-controller="Security" asp-route-id="@item.UserId">Безопасность</a>
                        <form method="post" asp-controller="Teachers" asp-action="Delete">
                            <button class="btn btn-danger" style=" background: -moz-linear-gradient(top, #c94949 0%, #be2525 66%, #B70D0D 100%); background: -webkit-linear-gradient(top, #c94949 0%, #be2525 66%, #B70D0D 100%); background: linear-gradient(to bottom, #c94949 0%, #be2525 66%, #B70D0D 100%)"
                                    asp-controller="Teachers" asp-action="Delete" asp-route-TeacherId="@item.Id">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <a class="btn btn-info" style=" background: -moz-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: -webkit-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: linear-gradient(to bottom, #5a518e 0%, #392e77 66%, #231768 100%)"
                       asp-action="Create">Регистрация преподавателя</a>
                </td>
            </tr>
        </tbody>
    </table>
 
</body>