@using Students.MVC.Helpers
@model Students.MVC.ViewModels.GroupViewModel
@{
    Layout = "_LayoutAdditional";
    ViewData["Title"] = "Редактирование группы";
}
<body>
    <div class="registration-form">
        <form asp-action="Edit">
            <div class="validation" asp-validation-summary="All"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group">
                <label class="form_label">Номер группы</label><br />
                <input type="text" class="form-control item" asp-for="NumberGroup" id="numberGroup" placeholder="Номер группы">
                <span asp-validation-for="NumberGroup" class="text-danger"></span>
          
     
                <label class="form_label">Дата старта группы</label><br />
                <input type="date" class="form-control item" asp-for="DateStart" id="dateStart" placeholder="Дата старта группы" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
         
         
                <label class="form_label">Номер группы</label><br />
                <input type="text" class="form-control item" asp-for="CountMax" id="countMax" placeholder="Количество студентов в группе">
                <span asp-validation-for="CountMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form_label" asp-for="GroupStatus">Статус группы</label><br />
                <select class="form-control custom-select" asp-for="GroupStatus" id="groupStatus"  asp-items="Html.GetEnumSelectList<Students.DAL.Models.GroupStatus>()"></select>
            </div>
            <div class="form-group">
                <label class="form_label">Курс</label><br />
                <select asp-for="CourseId" class="form-control custom-select">
                    @foreach (var item in Model.Courses)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="form_label">Менеджер</label><br />
                <select asp-for="ManagerId" class="form-control custom-select">
                    @foreach (var item in Model.Manageres)
                    {
                        <option value="@item.Id">@item.Surname</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="form_label">Преподователь</label><br />
                <select asp-for="TeacherId" class="form-control custom-select">
                    @foreach (var item in Model.Teachers)
                    {
                        <option value="@item.Id">@item.Surname</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-block create-account" />
            </div>
            <div class="form-group">
                <a class="btn btn-block create-account"
                   asp-action="ReturnByUrl" asp-route-ReturnUrl="@Model.ReturnUrl">Назад</a>
            </div>
        </form>
    </div>
</body>