@model IEnumerable<Students.MVC.ViewModels.GroupViewModel>
@using Students.DAL.Enum;

@{
    ViewData["Title"] = "Страница групп";
    Layout = "_Layout";
}
<body>
    <table class="purpleHorizon">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumberGroup)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroupStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ManagerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeacherId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseId)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" asp-route-Url="@Context.Request.Path">@item.NumberGroup</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manager.GetFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Teacher.GetFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>  
                        @if (item.GroupStatus == EnumGroupStatus.Training || item.GroupStatus == EnumGroupStatus.Close)
                        {
                        <a class="btn btn-primary"
                         asp-controller="Assessments" asp-action="Index" asp-route-GroupId="@item.Id">Оценки</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
