@model Students.MVC.Models.PaginationModel<Students.MVC.ViewModels.GroupViewModel>
@using Students.DAL.Models;

@{
    ViewData["Title"] = "Страница групп";
    Layout = "_Layout";
}
<body>
    <table class="purpleHorizon">
        <thead>
            <tr>
                <th>
                    Номер группы
                </th>
                <th>
                    Дата старта группы
                </th>
                <th>
                    Статус группы
                </th>
                <th>
                    Менеджер
                </th>
                <th>
                    Курс
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" asp-route-Url="@Context.Request.Path">@item.NumberGroup</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manager.GetFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>
                        @if (item.GroupStatus == GroupStatus.Training || item.GroupStatus == GroupStatus.Close)
                        {
                            <a class="btn btn-primary"
                               asp-controller="Assessments" asp-action="Index" asp-route-GroupId="@item.Id">Оценки</a>
                            <a class="btn btn-primary"
                               asp-controller="LessonTimes" asp-action="IndexGroupId" asp-route-groupId="@item.Id">Расписания</a>
                        }
                        <a class="btn btn-primary"
                           asp-controller="Lessons" asp-action="IndexСourseId" asp-route-CourseId="@item.CourseId">Уроки</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="content_detail__pagination cdp" actpage="@Model.PageNumber">
        <a href="#!-1" class="cdp_i" style="visibility:hidden">prev</a>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a href="/Groups/IndexTeacher?page=@i"
               class="cdp_i" onclick="jQueryAjaxGet('@i')">@i</a>
        }
        <a href="#!+1" class="cdp_i" style="visibility:hidden">next</a>
    </div>
</body>
