
@{
    ViewData["Title"] = "Добавления расписания к занятию";
    Layout = "_LayoutAdditional";
}

<body>
    <div class="registration-form">
        <form asp-action="Create">
            <div class="validation" asp-validation-summary="All"></div>

            @*<div class="form-group">
                    <select asp-for="GroupId" class="form-control item">
                        @foreach (var item in Model.Groups)
                        {
                            <option value="@item.Id">@item.NumberGroup</option>
                            x = item.CourseId;
                        }
                    </select>
                </div>
                <div class="form-group">
                    <select asp-for="GroupId" class="form-control item">
                        @foreach (var item in Model.Lessons.Where(l => l.CourseId == x))
                        {
                            <option value="@item.Id">@item.NumberLesson @item.Name</option>
                        }
                    </select>
                </div>*@

            <h3>Выберите страну</h3>
            @Html.DropDownList("State", ViewBag.Groups as SelectList, new { id = "group" })
            <h3>Выберите город</h3>
            @Html.DropDownList("City", ViewBag.Lessons as SelectList, new { id = "lesson" })
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-block create-account" />
            </div>
            <div class="form-group">
                <input type="submit" value="Назад" asp-action="Index" class="btn btn-block create-account" />
            </div>
        </form>
    </div>
</body>

@*@section scripts{
    <script type="text/javascript">
    $(function () {

        $('#group').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetLesson")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#Name').replaceWith(data);
                }
            });
        });
    })
    </script>*@