@model IEnumerable<Students.MVC.ViewModels.LessonViewModel>

@{
    ViewData["Title"] = $"Занятия";
    Layout = "_Layout";
}
<body>
    <table class="purpleHorizon">
        <thead>
            <tr>
                <th>
                 №
                </th>
                <th>
                 Названия урока
                </th>
                <th>
                  Домашния задания
                </th>
                <th>
                   Описания урока
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberLesson)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Homework)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a class="btn btn-primary"
                           asp-action="Edit" asp-route-id="@item.Id">Редактирование</a>
                        <a class="btn btn-primary"
                           asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <a class="btn btn-primary"
                       asp-action="CreateWithCourse">Добавить занятия</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
