@model Students.MVC.Models.PaginationModel<Students.MVC.ViewModels.LessonViewModel>
@using Students.DAL.Enum;
@{
    ViewData["Title"] = $"Занятия";
    Layout = "_Layout";
}
<body>
    <table class="purpleHorizon">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Названия урока
                </th>
                <th>
                    Домашния задания
                </th>
                <th>
                    Описания урока
                </th>
                <th style="text-align:left">
                    <a class="btn btn-primary" asp-action="CreateWithCourse">Добавить занятия</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberLesson)
                    </td>
                    <td>
                         <a asp-action="Details" asp-route-id="@item.Id" asp-route-Url="/Lessons/IndexСourseId?CourseId=@Model.Data.FirstOrDefault().CourseId&searchString=@Model.SearchString&searchParameter=@Model.SearchParameter&page=1">@item.Name</a>
                   <td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Homework)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a class="btn btn-primary"
                           asp-action="Edit" asp-route-id="@item.Id" asp-route-Url="/Lessons/IndexСourseId?CourseId=@Model.Data.FirstOrDefault().CourseId&searchString=@Model.SearchString&searchParameter=@Model.SearchParameter&page=1">Редактирование</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="content_detail__pagination cdp" actpage="@Model.PageNumber">
        <a href="#!-1" class="cdp_i" style="visibility:hidden">prev</a>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a href="/Lessons/IndexСourseId?CourseId=@Model.Data.FirstOrDefault().CourseId&searchString=@Model.SearchString&searchParameter=@Model.SearchParameter&page=@i"  
                 class="cdp_i" onclick="jQueryAjaxGet('@i')">@i</a>
        }
        <a href="#!+1" class="cdp_i" style="visibility:hidden">next</a>
    </div>
</body>
