@model IEnumerable<Students.MVC.ViewModels.CourseViewModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Зарегистрируйтесь или авторизуйтесь.</strong> Прога пока что , поэтому могут быть ошибки во время эксплуатации.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<form asp-controller="Home" asp-action="Index">
    <p>
        <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<body>
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.Visible == true)
            {
                <div class="col-md-4">
                    <div class="card m-3" style="width: 18rem;">
                        <img width="150" height="200" src="@item.URLImagePhoto" class="card-img-top" alt="нет изображения">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text" style="max-height: 70px">@item.Description</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Длительность @item.Duration</li>
                                <li class="list-group-item">Цена @item.Price</li>
                            </ul>
                        </div>
                        <a asp-action="Detailed" asp-route-id="@item.Id" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            }
        }
    </div>
</body>