@model Students.MVC.ViewModels.LessonTimesViewModel
@{
    ViewData["Title"] = "Редактирование расписания к занятию";
    Layout = "_LayoutAdditional";
}
<body>
    <div class="registration-form">
        <form asp-action="Edit">
            <div class="validation" asp-validation-summary="All">
                <div class="form-group">
                    <label class="form_label">Группа</label><br />
                    <select asp-for="GroupId" class="form-control custom-select" id="group">
                        <option selected="selected">Группа</option>
                        @foreach (var item in Model.Groups)
                        {
                            <option value="@item.CourseId">@item.NumberGroup</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="form_label">Урок</label><br />
                    <select asp-for="LessonId" class="form-control custom-select" id="lesson">
                        @if (Model.Lesson != null)
                            @foreach (var item in Model.Lessons)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                    </select>
                </div>
                <div class="form-group">
                    <label class="form_label">Дата проведения занятия</label><br />
                    <input type="date" class="form-control item" asp-for="DateOfTheLesson" id="dateOfTheLesson" placeholder="Дата проведения занятия" />
                    <span asp-validation-for="DateOfTheLesson" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-block create-account" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Назад" asp-action="Index" class="btn btn-block create-account" />
                </div>
            </div>
        </form>
    </div>
</body>
@section scripts{
    <script type="text/javascript">
    $(function () {

        $('#group').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetLesson")/' + id,
                success: function (data) {
                    // заменяем содержимое присланным частичным представлением
                    $('#lesson').replaceWith(data);
                }
            });
        });
    })
    </script>
}