@model IEnumerable<Students.MVC.ViewModels.LessonTimesViewModel>

@{
    ViewData["Title"] = $"Расписания";
    Layout = "_Layout";
}
<body>
    <table class="purpleHorizon">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Group.NumberGroup)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lesson.NumberLesson)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lesson.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfTheLesson)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Group.NumberGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.NumberLesson)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfTheLesson)
                    </td>

                    <td>
                        <a class="btn btn-info" style=" background: -moz-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: -webkit-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: linear-gradient(to bottom, #5a518e 0%, #392e77 66%, #231768 100%)"
                           asp-action="Edit" asp-route-id="@item.Id" asp-route-Url="@Context.Request.Path">Редактирование</a>
                        <a class="btn btn-info" style=" background: -moz-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: -webkit-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: linear-gradient(to bottom, #5a518e 0%, #392e77 66%, #231768 100%)"
                           asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                        <form method="post" asp-controller="Lessons" asp-action="Delete">
                            <button class="btn btn-danger" style=" background: -moz-linear-gradient(top, #c94949 0%, #be2525 66%, #B70D0D 100%); background: -webkit-linear-gradient(top, #c94949 0%, #be2525 66%, #B70D0D 100%); background: linear-gradient(to bottom, #c94949 0%, #be2525 66%, #B70D0D 100%)"
                                    asp-controller="Lessons" asp-action="Delete" asp-route-LessonId="@item.Id">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>

            }
            <tr>
                <td>
                    <a class="btn btn-info" style=" background: -moz-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: -webkit-linear-gradient(top, #5a518e 0%, #392e77 66%, #231768 100%); background: linear-gradient(to bottom, #5a518e 0%, #392e77 66%, #231768 100%)"
                       asp-action="Create">Добавить расписания</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
