@model IEnumerable<Students.MVC.ViewModels.LessonTimesViewModel>
@using Students.DAL.Enum;
@{
    ViewData["Title"] = $"Расписания";
    Layout = "_Layout";
}
<body>
    @{
        int skip = 0;
        if (Model.Count() > 0)
            skip = Model.Max(s => s.Id);
        int take = Model.Count();
    }
    <form method="post" asp-controller="LessonTimes">
        <p>
            <select name="serachParameter" class="form-control">
                @foreach (var item in Html.GetEnumSelectList<EnumParametersLessonTimes>())
                {
                    @if (item.Value == @ViewData["serachParameter"].ToString())
                    {
                        <option selected="selected" value="@item.Value" name="serachParameter">@item.Text</option>
                    }
                    <option value="@item.Value" name="serachParameter">@item.Text</option>
                }
            </select>
            <input type="text" name="searchString" size="40" value="@ViewData["searchString"]" />
            <input type="hidden" name="take" value="10" />
            <input class="btn btn-primary" type="submit" value="Поиск" />
        </p>
    </form>
    <form method="post" asp-controller="LessonTimes">
        <p>
            <input type="hidden" name="action" value="@EnumPageActions.Add" />
            <input type="hidden" name="take" value="@take" />
            <input type="hidden" name="searchString" value="@ViewData["searchString"]" />
            <input type="hidden" name="serachParameter" value="@ViewData["serachParameter"]" />
            <input class="btn btn-primary"
                   type="submit" value="ещё" />
        </p>
    </form>
    <table class="purpleHorizon">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Group.NumberGroup)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lesson.NumberLesson)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lesson.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfTheLesson)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Group.NumberGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.NumberLesson)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfTheLesson)
                    </td>

                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id" asp-route-Url="@Context.Request.Path">Редактирование</a>
                        <form method="post" asp-controller="Lessons" asp-action="Delete">
                            <button  class="btn btn-danger" asp-controller="Lessons" asp-action="Delete" asp-route-LessonId="@item.Id">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>

            }
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Create">Добавить расписания</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="container">
        <form method="post" asp-controller="LessonTimes">
            <p>
                <input type="hidden" name="action" value="@EnumPageActions.Back" />
                <input type="hidden" name="skip" value="@skip" />
                <input type="hidden" name="take" value="10" />
                <input class="btn btn-primary"
                       type="submit" value="Предыдущие" />
            </p>
        </form>
        <form method="post" asp-controller="LessonTimes">
            <p>
                <input type="hidden" name="action" value="@EnumPageActions.Next" />
                <input type="hidden" name="skip" value="@skip" />
                <input type="hidden" name="take" value="10" />
                <input class="btn btn-primary"
                       type="submit" value="Следущие" />
            </p>
        </form>
    </div>
</body>
