@model Students.MVC.Models.PaginationModel<Students.MVC.ViewModels.LessonTimesViewModel>
@using Students.DAL.Enum;
@{
    ViewData["Title"] = $"Расписания";
    Layout = "_Layout";
}
<body>
    <form method="post" asp-controller="LessonTimes">
        <input type="text" name="searchString" style="width:15%;" value="@Model.SearchString" />
        <select name="searchParameter" class="custom-select" style="width:15%;">
            @foreach (var item in Html.GetEnumSelectList<EnumParametersLessonTimes>())
            {
                @if (item.Value == Model.SearchParameter.ToString())
                {
                    <option selected="selected" value="@item.Value" name="searchParameter">@item.Text</option>
                }
                else
                {
                    <option value="@item.Value" name="searchParameter">@item.Text</option>
                }
            }
        </select>
        <input class="btn btn-primary" type="submit" value="Поиск" />
    </form>
    <table class="purpleHorizon">
        <thead>
            <tr>
                <th>
                    Номер группы
                </th>
                <th>
                    Номер занятия
                </th>
                <th>
                    Занятия
                </th>
                <th>
                    Дата проведение занятия
                </th>
                <th style="text-align:left">
                    <a class="btn btn-primary" asp-action="Create">Добавить расписания</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Group.NumberGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.NumberLesson)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" asp-route-Url="@Context.Request.Path">@item.Lesson.Name</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfTheLesson)
                    </td>

                    <td>
                        <a class="btn btn-primary" asp-action="EditByIdLessonTimes" asp-route-id="@item.Id" asp-route-Url="@Context.Request.Path">Редактирование</a>
                        <form method="post" asp-controller="Lessons" asp-action="Delete" style="display:inline-table">
                            <button class="btn btn-danger" asp-controller="Lessons" asp-action="Delete" asp-route-LessonId="@item.Id">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="content_detail__pagination cdp" actpage="@Model.PageNumber">
        <a href="#!-1" class="cdp_i" style="visibility:hidden">prev</a>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a href="/LessonTimes?searchString=@Model.SearchString&searchParameter=@Model.SearchParameter&page=@i"  
               class="cdp_i" onclick="jQueryAjaxGet('@i')">@i</a>
        }
        <a href="#!+1" class="cdp_i" style="visibility:hidden">next</a>
    </div>
</body>
